<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width", initial-scale="1.0">
    <title>My Landing page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section>
        <div class="container">
            <nav>
                <h1>FastDrug</h1>
                <ul>
                    <li><a href="" class="active">Home</a></li>
                    <li><a href="">Drug</a></li>
                    <li><a href="">Pharmacy</a></li>
                </ul>
            </nav>
            <div class="article">
                <h1>Fastdrug aims to assist family members, friends, and patients in quickly<br> finding medication at local pharmacies without the need to visit multiple<br> locations. This ensures timely access to necessary medications.</h1>
            </div>
        </div>
    </section>
</body>
</html>